<div class="index-items">
  <% @users.each do |user| %>
    <div class="index-item">
      <%= render user %>
      <p>
        <%= link_to t('views.generals.show_this_user'), user_path(user) %>
      </p>
    </div>
  <% end %>
</div>
<%= paginate @users %>
