<h1><%= t('views.actions.show_users_list') %></h1>
<% @users.each do |user| %>
  <ul>
    <li><%= link_to user.name, user_path(user) %></li>
  </ul>
<% end %>

<%= paginate @users %>

<%= link_to t('views.actions.back_to_books'), books_path %>
