<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to t('views.generals.edit_this_book'), @book %> |
  <%= link_to t('views.generals.back_to_books'), books_path %>
</div>
