<nav>
  <ul class="nav-list">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to t('views.generals.edit_account'), edit_user_registration_path %></li>
    <li><%= link_to t('views.generals.users_list'), users_path %></li>
    <li><%= button_to t('views.generals.logout'), destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>
